
<nav class="navbar navbar-expand-lg ">

<!--<ul class="navbar-nav mr-auto">-->
  <!--<li class="nav-item">
    <a href="whatsapp://send?abid=phonenumber&text=Hello%2C%20World!"> <img src="assets/icons/whatsapp.png"></a>
    <br>
    <a href="mailto:myemailaddress@gmail.com"> <img src="assets/icons/email.png"> </a>

  </li>-->
<!--</ul>-->
  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
  <a class="navbar-brand " href="#">
    <a href="#home" class="active"><img src="assets/images/kaffe-xx.png" width="250" height="60" ></a>
  </a>
  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>

  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto padding-bottom ">
      <br>
      <br>
      <br>

      <li class="nav-item">

      <a class="nav-link" href="#" routerLink="/start-component" routerLinkActive="active" ariaCurrentWhenActive="page">Start</a>
      </li>

      <li class="nav-item">

        <a class="nav-link" href="#" routerLink="/leistungen-component"  routerLinkActive="active" ariaCurrentWhenActive="page">Leistungen</a>
      </li>

      <li class="nav-item">

        <a class="nav-link" href="#" routerLink="/uberuns-component"  routerLinkActive="active" ariaCurrentWhenActive="page">Wartung-Serfice</a>
      </li>

      <li class="nav-item">

        <a class="nav-link" href="#" routerLink="/referenzen-component"  routerLinkActive="active" ariaCurrentWhenActive="page">Faq</a>
      </li>



      <li class="nav-item">

        <a class="nav-link" href="#" routerLink="/contact-component"  routerLinkActive="active" ariaCurrentWhenActive="page">Kontakt</a>
      </li>

        <!--<li class="nav-item">
      <a href="whatsapp://send?abid=phonenumber&text=Hello%2C%20World!"> <img src="assets/icons/whatsapp.png"></a>
        <br>
        <a href="mailto:myemailaddress@gmail.com"> <img src="assets/icons/email.png"> </a>
      </li>

      <br>
      <li class="nav-item" style="text-align:right">
      <a href="mailto:myemailaddress@gmail.com"> <img src="assets/icons/email.png"> </a>
      </li>-->
    </ul>
  </div>
  <div class="collapse navbar-collapse flex-end"
       [ngClass]="{ 'show': navbarOpen }">
    <a routerLink="/ueberuns-component"  routerLinkActive="active" ariaCurrentWhenActive="page"><button class="button button5" >MEHR ERFAHREN</button></a>
  </div>
</nav>
